<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Canvas</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">

        <style>
            body {
                background: linear-gradient(109.6deg, rgb(48, 207, 208) 11.2%, rgb(51, 8, 103) 92.5%);
                color: #fff;
            }
        </style>
</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <a href="https://www.instagram.com/p/Chz6_REh6tR/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F1.jpg?alt=media&token=96d416b2-891d-4172-baf3-dddf6040ae19"
                                alt="">
                            <div class="overlay">
                                <h3>Petal Promenade</h3>
                                <p>Spring, Cherry Blossoms, Bridge, Serenity</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/C03mO3EtCdT/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F2.jpg?alt=media&token=157ef9ee-09b1-4224-a3d1-9bba53a5c4db"
                                alt="">
                            <div class="overlay">
                                <h3>Serene Peaks</h3>
                                <p>Mountains, Lake, Nature, Calm</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CktEx9uPqUz/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F9.png?alt=media&token=42cda908-6a7d-44e8-81ea-95b85c56c583"
                                alt="">
                            <div class="overlay">
                                <h3>Starry Night</h3>
                                <p>Van Gogh, Swirls, Night, Creativity</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/C1wClxytdwq/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F3.jpg?alt=media&token=2f5b9833-714e-4256-89f9-75df676001ea"
                                alt="">
                            <div class="overlay">
                                <h3>Guiding Light</h3>
                                <p>Lighthouse, Night, Sea, Moon.</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/C6ZRuL7LCJk/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F5.png?alt=media&token=765d6a42-6ad5-45fc-9037-1a3f5b3597ac"
                                alt="">
                            <div class="overlay">
                                <h3>Twilight Beach</h3>
                                <p>Serene, Waves, Reflection, Tranquil</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CoFgzwRPA1g/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F6.png?alt=media&token=2d8b6c99-75ce-4b6f-ae36-d21f9546da96"
                                alt="">
                            <div class="overlay">
                                <h3>Urban Sky</h3>
                                <p>Lamp Post, Blue Sky, Clouds, Perspective</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/Cn3mRFQL9kP/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F8.png?alt=media&token=bbd83f33-ff87-4c38-a544-a01374b2c1d9"
                                alt="">
                            <div class="overlay">
                                <h3>Evening Glow</h3>
                                <p>Window, Sunset, Colors, Silhouette.</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/ChwaUP7LqZn/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F7.jpg?alt=media&token=517c92a8-e656-4a36-ab06-900eab98e566"
                                alt="">
                            <div class="overlay">
                                <h3>Sunny Bloom</h3>
                                <p>Sunflower, Yellow, Bright, Joy</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CiPcX7Xr2eO/?img_index=1" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F10.png?alt=media&token=ae427c68-ba4a-4b59-bd19-0f1050e668b5"
                                alt="">
                            <div class="overlay">
                                <h3>Misty Mountains</h3>
                                <p>Haze, Peaks, Grey, Serenity</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/Ch4HXfNrbjA/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F11.png?alt=media&token=ec98a632-95a2-4665-b90a-d42e3ea98d0c"
                                alt="">
                            <div class="overlay">
                                <h3>Vivid Vignettes</h3>
                                <p> Canvas, Colorful, Small, Variety.</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CltnGUdP8lo/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F12.png?alt=media&token=3bbf0652-d9ce-43c4-9b7a-71eab5fd2bb4"
                                alt="">
                            <div class="overlay">
                                <h3>Moonlit Meadow</h3>
                                <p> Round Canvas, Moonlight, Flowers, Night</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/Clq33LmvA0B/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F13.png?alt=media&token=21252b45-27b0-4533-8396-3d7ec2d3c36c"
                                alt="">
                            <div class="overlay">
                                <h3>A Broken Dream</h3>
                                <p>Evening, Colors, Hope, Urban</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CmLYO0gLN3A/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/canvas%2F14.png?alt=media&token=5d035968-2f8e-4f20-804f-0abdaba3c4be"
                                alt="">
                            <div class="overlay">
                                <h3>Daisy Delight</h3>
                                <p> Daisies, Green, Nature, Blooming</p>
                            </div>
                        </a>
                    </div>
                    <% artworks.forEach(art=> { %>
                        <div class="box">
                            <a href="<%= art.instagramUrl %>" target="_blank">
                                <img src="<%= art.imageUrl %>" alt="<%= art.title %>">
                                <div class="overlay">
                                    <h3>
                                        <%= art.title %>
                                    </h3>
                                    <p>
                                        <%= art.description %>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>