<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Doodles</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/public/js/tailwind-config.js"></script>
    <%- include('../../../components/Links.html') %>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/categories.css">

        <style>
            body {
                background-image: url('/images/background8.png');
                background-position: center;
                background-size: cover;
                color: #fff;
            }
        </style>
</head>



<body>
    <%- include('../../partials/navbar') %>

        <div id="card-area">
            <div class="wrapper">
                <div class="box-area">
                    <div class="box">
                        <a href="https://www.instagram.com/p/C6oXYyCNi5t/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/doodles%2F1_doodle.jpg?alt=media&token=ea49de75-df9b-4d9a-abe0-0d59e299ddea"
                                alt="">
                            <div class="overlay">
                                <h3>Whimsical Heartbeat
                                </h3>
                                <p>Love, Cheerful, Happy, Peace</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/CkDCRpkrh7K/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/doodles%2F2_doodle.jpg?alt=media&token=f72bd99a-a294-4a47-9b9c-65b4c9416f06"
                                alt="">
                            <div class="overlay">
                                <h3>Box of Whimsy</h3>
                                <p>Characters, Faces, Playful, Chaos</p>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/doodles%2F3_doodle.jpg?alt=media&token=746a38f5-55d5-41d5-9a7c-030dff201342"
                            alt="">
                        <div class="overlay">
                            <h3>Doodle Delight</h3>
                            <p>Creativity, Fun, Words, Inspiration</p>
                        </div>
                    </div>
                    <div class="box">
                        <a href="https://www.instagram.com/p/C6jyiprhrR7/" target="_blank">
                            <img src="https://firebasestorage.googleapis.com/v0/b/art-gallery-2003.appspot.com/o/doodles%2F4_doodle.jpg?alt=media&token=e2f3fe52-ec07-4b9a-871f-a75c3d23a25b"
                                alt="">
                            <div class="overlay">
                                <h3>Cupcake Carnival</h3>
                                <p>Sweet, Fun, Characters, Joy</p>
                            </div>
                        </a>
                    </div>
                    <% artworks.forEach(art=> { %>
                        <div class="box">
                            <a href="<%= art.instagramUrl %>" target="_blank">
                                <img src="<%= art.imageUrl %>" alt="<%= art.title %>">
                                <div class="overlay">
                                    <h3>
                                        <%= art.title %>
                                    </h3>
                                    <p>
                                        <%= art.description %>
                                    </p>
                                </div>
                            </a>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>


        <%- include('../../partials/footer') %>


</body>

</html>